<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Timestamp Miroservice - Chris Curl - 4/5/2018
      </h1>
    </header>
    <main>
      <h2>
        Enter a Unix time code in the format "/unixtimestring" into the url bar.
      </h2>
      <p>
        Example: 1523022284 or December 23, 1988
      </p>
      <p>
       <li><a href = "https://timestamp-microservice-chris-curl.glitch.me/1523022284">https://timestamp-microservice-chris-curl.glitch.me/1523022284</a></li> 
       <li><a href = "https://timestamp-microservice-chris-curl.glitch.me/December%2023,%201988">https://timestamp-microservice-chris-curl.glitch.me/December%2023,%201988</a></li>
      </p>
      <h2>
        A natural language time will be returned.
      </h2>
      </main>
      <footer>
      </footer>
  </body>
</html>
